<h2>Artoo OAuth Server</h2>

<% if current_user.blank? %>
  <p>
    Welcome, to get started with Artoo OAuth Server first <%= link_to 'sign up', new_user_registration_path %>.
  </p>
<% else %>
  <p>
    <ul>
      <li><%= link_to 'View your Profile', user_path(current_user) %></li>
      <li><%= link_to 'View your OAuth client Apps',  oauth_client_apps_path %></li>
      <li><%= link_to 'Create new Oauth Client App', new_oauth_client_app_path %></li>
    </ul>
  </p>
<% end %>